<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="static/css/home.css">
<link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
<title></title>
</head>
<body>
{% block content %}
<form method="POST" action="" enctype="multipart/form-data">
    <div class="wrapper">
        <div class="header">
            add player | save game | show stats | show results | standings
        </div>
        <form  action="{{ url_for('home') }}" method="POST">
            <div class="side1">
                <div class="player1">
                    {{ form2.Player(class_="player1")}}
                </div>
                <input class="score1" id="score1" type="text" name="score1" placeholder="0">
                <div class="modify">
                    <button class="up" type="button" onclick="decrease('score1')">-</button>
                    <button class="up" type="button" onclick="increase('score1')">+</button>
                </div>
            </div>
            <div class="side2">
                <div class="player1">
                    {{ form2.Player(class_="player1")}}
                </div>
                <input class="score2" id="score2" type="text" name="score2" placeholder="0">
                <div class="modify">
                    <button class="up" type="button" onclick="decrease('score2')">-</button>
                    <button class="up" type="button" onclick="increase('score2')">+</button>
                </div>
            </div>
        </form>
        <div class="footer">
            {{ form2.csrf_token }}
            {{ form2.submit() }}
        </div>
    </div>
</form>
<script>
function increase(argin) {
    var x = document.getElementById(argin).value;
    var y = 1;
    var z = Number(x) + y;
    document.getElementById(argin).value = z;
}
function decrease(argin) {
    var x = document.getElementById(argin).value;
    var y = 1;
    var z = Number(x) - y;
    document.getElementById(argin).value = z;
}
</script>
{% endblock %}
</body>
</html>

